<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         testdox="true"
         processIsolation="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
>
    <testsuites>
        <testsuite name="verify">
            <file>tests/TestIntVerification.php</file>
            <file>tests/TestStringVerification.php</file>
            <file>tests/TestFormatVerification.php</file>
            <file>tests/TestVariableVerification.php</file>
        </testsuite>
    </testsuites>
</phpunit>
